<html>
<head>
	{% load staticfiles %}
	<title> {% block title %}{% endblock %} </title>
	<!--<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">-->
	<link rel="stylesheet" type="text/css" href={% static "css/styles.css" %}>
	{% block includes %}{% endblock %}
</head>
	<body>
		<header>
			<div class="width">
	    		<h1><a href="/"><span>Dias</span></a></h1>
	        	<h2>Doctor appointment, made easy&#0153;</h2>
			</div>
		</header>
		<div id="body" class="width">
			{% block content %}{% endblock %}

		</div>	
		
		<footer >
			<div class="footer-content width">
				<ul>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="footer-bottom">
		        <p>&copy; Dias 2014</p>
		    </div>
		</footer>

</body>
</html>